nav{
  margin : 1rem;
  background : #f9f9f9;
  padding : 2rem 0;
}
.menuItems{
  list-style:none;
  display : flex;
  flex-wrap : wrap;
  justify-content:space-between;
}
.menulist{
  margin : 0.6rem 3rem;
}
.menulist a{
  text-decoration : none;
  color : #8f8f8f;
  font-size : 24px;
  font-weight:400;
  transition : all 0.5s ease-in-out;
  position : relative;
  text-transform : uppercase;
}
.menulist a::before{
  transition: 0.5s;
  color: #8254ff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}
.menulist a:hover:before{
  width: 100%;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width:998px){
  nav .menuItems li {
    margin: 0.6rem 5rem;
  }
}