.admin-table{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 4rem 0;
}
.admin-subtitle{
    display: flex;
    justify-content: space-between;
    font-size: 3.2rem;
}
.content ul{
    list-style-type: none !important;
    flex-direction: column;
    /* box-shadow: rgba(0,0,0,0.05) 0px 6px 24px 0px, rgba(0,0,0,0.08) 0px 0px 0px 1px; */
} 
